<link rel=”stylesheet”
      href=”//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css”>


<style>

body {
	background-color: #240e28;
}

h1 {
	color: #d8247c;
}

h2 {
	color: #25a9f0;
}

p {
	color: #fff;
}

</style>